VITE_OFFER_API_BASE=/offer-api
VITE_AVAILABILITY_API_BASE=/availability-api
VITE_BOOKING_API_BASE=/booking-api
VITE_AUTH_API_BASE=/auth-api
VITE_ADMIN_PORT=5174
VITE_CUSTOMER_EMAIL=jan@example.com
VITE_CUSTOMER_PASSWORD=customer123
VITE_ADMIN_EMAIL=admin@example.com
VITE_ADMIN_PASSWORD=admin123
